<div>
    <h2>GeneroDETAILS</h2> 
 
    <div>
   <div>
      {{#each this.manga}}
        <h4>{{this.title}}</h4>
        <h4>{{this.numVolume}}</h4>
        <h4>{{this.collectionType}}</h4>
        <h4>{{this.description}}</h4>
        <h4>{{this.author}}</h4>
        <h4>{{this.genre}}</h4>
      <a href="/mangas/{{this._id}}"><img src="{{this.image}}" alt="imagen tomo"></a>
      {{/each}}
    </div>
    </div>
</div>