<div>
  <h2>TOMOOOOOOOOOOOOOOO individualizado</h2>

  {{#if this.isAdmin}}
    <a href="/{{this.manga._id}}/modificar-manga">Update manga</a>

    <form action="/{{this.manga._id}}/borrar-manga" method="post">
      <button type="submit">Delete manga</button>
    </form>
  {{/if}}

  <div>
    <h4>{{this.manga.title}}</h4>
    <h4>{{this.manga.numVolume}}</h4>
    <h4>{{this.manga.collectionType}}</h4>
    <h4>{{this.manga.description}}</h4>
    <h4>{{this.manga.author}}</h4>
    <h4>{{this.manga.genre}}</h4>
    <img src="{{this.manga.image}}" alt="imagen tomo" />
  </div>

  <a href="javascript:history.back()">Volver a la página anterior</a>


  <div>
    
  {{#each this.objetosAleatorios}}
  <a href="/generos/:generoID">  
  {{!-- FALTA REDIRIGIR BIEN LO DE ARRIBA --}}
    <button>
      <h4>{{this.title}}</h4>
      <img src="{{this.image}}" alt="imagen tomo" />
    </button>
  </a>

  {{/each}}
  </div>

</div>