<div>
    <h2>TOMO DETAILS</h2>
   
 
    <div>
        <h4>{{this.foundManga.title}}</h4>
        <h4>{{this.foundManga.numVolume}}</h4>
        <h4>{{this.foundManga.collectionType}}</h4>
        <h4>{{this.foundManga.description}}</h4>
        <h4>{{this.foundManga.author}}</h4>
        <h4>{{this.foundManga.genre}}</h4>
      <img src="{{this.foundManga.image}}" alt="imagen tomo">
      
    </div>
</div>