
<div class="title-container">
    NO TOCAR

    <div class="manga-list-container">
    {{#each this.foundManga}}  
    <div class="manga-card">
    
        <a href="/mangas/{{this._id}}"><img src="{{this.image}}" alt="imagen tomo"></a>
        <div class="manga-card-div">
            <h4>Titulo: {{this.title}}</h4>
            <h4>Numero: {{this.numVolume}}</h4>
            <h4>Colecion: {{this.collectionType}}</h4>
            <h4>Descripcion: {{this.description}}</h4>
            <h4>Autor: {{this.author}}</h4>
            <h4>Genero: {{this.genre}}</h4>
            
        </div>   
    </div>
    {{/each}}
</div>