<div>
  <div class="title-container">
    dffasfasdfasf2222
    <h1>Ficha de {{this.manga.title}}</h1>
    <h3>Consulta aqui los detalles de "{{this.manga.title}}", da tu valoracion y comenta</h3>
  </div>
</div>

  
    <div class="manga-list-container">
      <div class="manga-card">
        <a href="/mangas/{{this._id}}"><img src="{{this.manga.image}}" alt="imagen dddtomo"></a>
        <div class="manga-card-div">
        <h4>Titulo: {{this.manga.title}}</h4>
        <h4>Numero: {{this.manga.numVolume}}</h4>
        <h4>Coleccion: {{this.manga.collectionType}}</h4>
        <h4>Descripcion: {{this.manga.description}}</h4>
        <h4>Autor: {{this.manga.author}}</h4>
        <h4>Genero: {{this.manga.genre}}</h4>
        
      </div> 
    </div>



     
       
        <div id="likes">
          {{#if this.liked}}
            <form action="/{{this.manga._id}}/dislike" method="post">
              <button type="submit" id="dislike">Dislike</button>
            </form>
            {{else}}
            <form action="/{{this.manga._id}}/like" method="post">
              <button type="submit" id="like">Like</button>
            </form>
          {{/if}}
          <p>{{this.likesCounter}} likes</p>
        </div>d

        <div id="acciones-manga">
          {{#if this.isAdmin}}
            <a href="/{{this.manga._id}}/modificar-manga" id="actualizar-manga">Actualizar manga</a>
            <form action="/{{this.manga._id}}/borrar-manga" method="post">
                <button type="submit" id="borrar-manga">Borrar manga</button>
            </form>
          {{/if}}
        </div>
      </div>
      
      <div id="comentarios-container">
        <h3>COMENTARIOS</h3>

        <form action="/{{this.manga._id}}/comment" method="post">
          <label for="comentario">Deja un comentario</label>
          <textarea type="text"  cols="30" rows="1" id="comentario" name="comentario"></textarea>
          <button type="submit">Comentar</button>
        </form>

        <div id="comentarios">
          {{#each comentarios}}
            <div style="display: flex; gap: 1em">
              <p>{{ this.user.username }}</p>
              <p>{{this.text}}</p>
              <p>{{this.createdAt}}</p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div>
      <h3>SUGERENCIAS</h3>
      <div style="display: grid; gap: 1em; grid-template-columns: repeat(3, 1fr); place-items: center">
        {{#each this.objetosAleatorios}} 
        <a href="/mangas/{{this._id}}">  
          <button>
            <h4>{{this.title}}</h4>
            <img src="{{this.image}}" width="250" height="300" alt="imagen tomo" />
          </button>
        </a>
        {{/each}}
      </div>
    </div>
</div>