<div>
  <h2>TOMOOOOOOOOOOOOOOO individualizado</h2>

  {{#if this.isAdmin}}
    <a href="/{{this.manga._id}}/modificar-manga">Actualizar manga</a>
    <a href="/{{this.manga._id}}/borrar-manga">Borrar manga</a>
    {{/if}}

    <div>
        <h4>{{this.manga.title}}</h4>
        <h4>{{this.manga.numVolume}}</h4>
        <h4>{{this.manga.collectionType}}</h4>
        <h4>{{this.manga.description}}</h4>
        <h4>{{this.manga.author}}</h4>
        <h4>{{this.manga.genre}}</h4>
        <img src="{{this.manga.image}}" alt="imagen tomo">

        <div style="display: flex; gap: 1em; align-items: center">
          {{#if this.liked}}
            <form action="/{{this.manga._id}}/dislike" method="post">
              <button type="submit">Dislike</button>
            </form>
          {{else}}
            <form action="/{{this.manga._id}}/like" method="post">
              <button type="submit">Like</button>
            </form>
          {{/if}}
          <p>{{this.likesCounter}} likes</p>
        </div>

        
          
    </div>

    <div>
      <h3>COMENTARIOS</h3>

  <div>
    
  {{#each this.objetosAleatorios}}
  <a href="/mangas/{{this._id}}">  
  
    <button>
      <h4>{{this.title}}</h4>
      <img src="{{this.image}}" alt="imagen tomo" />
    </button>
  </a>

  {{/each}}
  </div>
      <div>
        <form action="/{{this.manga._id}}/comment" method="post" style="display: flex; align-items: center; gap: 1em;">
          <label for="comentario">Deja un comentario</label>
          <textarea type="text"  cols="30" rows="1" id="comentario" name="comentario"></textarea>
          <button type="submit">Comentar</button>
        </form>
      </div>

      {{#each comentarios}}
        <div style="display: flex; gap: 1em">
          <p>{{ this.user.username }}</p>
          <p>{{this.text}}</p>
          <p>{{this.createdAt}}</p>
        </div>
      {{/each}}
    </div>
</div>