<div>
    <h2>TOMOOOOOOOOOOOOOOO individualizado</h2>
   
 
   <div>
    <h2>TOMOOOOOOOOOOOOOOO individualizado</h2>
   
    <div>
        <h4>{{this.manga.title}}</h4>
        <h4>{{this.manga.numVolume}}</h4>
        <h4>{{this.manga.collectionType}}</h4>
        <h4>{{this.manga.description}}</h4>
        <h4>{{this.manga.author}}</h4>
        <h4>{{this.manga.genre}}</h4>
        <img src="{{this.manga.image}}" alt="imagen tomo">
    </div>
    
    <a href="javascript:history.back()">Volver a la página anterior</a>
    
</div>









   {{!-- Quiero cambios en el div de abajo
   -En vez de llevarme a "/generos" me tiene que llevar a otro hbs(igual que este)
       --}}
 {{!-- <div>
  <a href="/generos">
    <button>
      <h4>{{this.manga.title}}</h4>
      <img src="{{this.manga.image}}" alt="imagen tomo" width="100px">
      
    </button>
  </a>
</div>

  <div>
    <h2>Objeto aleatorio con el mismo género:</h2>
    <a href="/mangas/{{this.manga.genre}}/random">{{this.randomManga2.title}}</a>
    <img src="{{this.randomManga2.image}}" alt="imagen objeto aleatorio">
  </div>

  <div>
    <h2>Objeto aleatorio con el mismo género:</h2>
    <a href="/mangas/{{this.manga.genre}}/random">{{this.randomManga3.title}}</a>
    <img src="{{this.randomManga3.image}}" alt="imagen objeto aleatorio">
  </div>
</div>
      
    </div> --}}

</div>
