<div>
    <h2>TOMOOOOOOOOOOOOOOOAqui los detalles TOMOS es decir, individualizado y con sus detalles</h2>

    <div>
        <h4>{{this.manga.title}}</h4>
        <h4>{{this.manga.numVolume}}</h4>
        <h4>{{this.manga.collectionType}}</h4>
        <h4>{{this.manga.descriptionn}}</h4>
        <h4>{{this.manga.author}}</h4>
        <h4>{{this.manga.genre}}</h4>
        <img src="{{this.manga.image}}" alt="imagen tomo">
    </div>
</div>